    * {
      box-sizing: border-box;
    }


    .header {
      background-size: cover;
      width: 100%;
      /* margin-bottom: 200px; */
      /* margin-top: 20px; */

    }

    .img-header {
      position: relative;
      height: 597px;
      top: -8px;
      margin-left: -12px;
      background-image: url(../img/IMG-20231122-WA0010.jpg);
      background-size: cover;
      background-position: 50% 76%;
      color: #f5d7db;
    }

    .body {
      right: -9cm;
    }

    ul {
      margin: 0;
      padding: 0;
      padding-top: 20px;

    }

    li {
      list-style: none;
      margin: 10px;
      display: inline;
    }

    li a {
      padding: 5px 10px;
      margin: 0;
      border: 0px solid rgba(255, 0, 0, 0);
      background: rgba(153, 0, 51, 0);
      text-decoration: none;
      color: #f5d7db;
    }

    /* ##################### HEADER NAVEGAÇÃO ######################### */
    .bar-background {
      background-color: rgba(27, 34, 88, 0.715);
      padding-bottom: 70px;
      height: 50px;
      right: 0px;
      width: 100%;
      position: fixed;
    }

    .nav-bar {
      right: 3px;
      text-align: right;
      position: fixed;
    }

    .nav-links {
      right: 3px;
      text-align: right;
      margin-top: 0%;
      display: inline-block;
    }

    .links-active,
    .links-deactive {
      font-size: 23px;
      top: 100px;
      font-family: Verdana, Geneva, sans-serif;
    }

    .links-deactive {
      text-decoration: underline;
    }

    .nav-btn {
      text-align: left;
      display: inline-block;
      position: relative;
    }

    #themebtn {
      background-color: #121a5310;
      color: #dab785;
      font-size: large;
      border-color: #f5d7db;
      display: inline-block;
      color: #f5d7db;
      /* text-decoration: none; */
    }


    h1 {
      font-family: Verdana, Geneva, sans-serif;
      text-align: left;
      position: relative;
      font-size: 65px;
      left: 2cm;
      top: 200px;
    }

    .clearfix {
      background-color: #f4f1de;
      padding-left: 30px;
      margin-top: -8px;
      padding-top: 100px;
      height: 700px;
    }

    .municipio-img {
      margin-left: 90px;
    }

    #imagem {
      max-width: 500px;
      max-height: 600px;
      width: auto;
      height: auto;
      margin-right: 70px;
    }

    .city-info {
      margin-top: 180px;
      margin-bottom: auto;
      margin-left: 100px;
      margin-right: 400px;
      font-size: 40px;
      color: #06142e;
    }


    /* fotos links */
    .content {
      background-color: #1b2258;
      height: 700px;
      padding: 80px;
    }

    .imagem-content {
      max-width: 310px;
      max-height: 310px;
      width: auto;
      height: auto;
    }

    .p,
    #p {
      color: #f5d7db;
    }

    #p {
      font-size: 40px;
    }

    /* footer  */
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }

    footer {
      background-color: #06142e;
      padding: 50px 0;
      color: #dab785;
    }

    .container-footer {
      max-width: 1400px;
      padding: 0 4%;
      margin: auto;
    }

    .row-footer {
      display: flex;
      flex-wrap: wrap;
    }

    .footer-col {
      width: 25%;
      padding: 0 15px;
    }

    .footer-col h4 {
      font-size: 22px;
      color: #dab785;
      margin-bottom: 20px;
      font-weight: 500;
      position: relative;
      text-transform: uppercase;
    }

    .footer-col ul {
      list-style: none;
    }

    .footer-col ul li {
      margin: 10px 0;
    }

    .footer-col ul li a {
      font-size: 16px;
      text-transform: capitalize;
      color: #dab785;
      text-decoration: none;
      font-weight: 300;
      display: block;
      transition: all 0.3s ease;
    }

    .footer-col ul li a:hover {
      color: #dab785;
      padding-left: 10px;
    }

    .footer-col .medias-socias {
      margin-top: 30px;
    }

    .footer-col .medias-socias a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      width: 40px;
      margin: 0 10px 10px 0;
      text-decoration: none;
      border-radius: 50%;
      color: #dab785;
      border: 1px solid #dab785;
      transition: all 0.5s ease;
    }

    .footer-col .medias-socias a i {
      font-size: 20px;
    }

    .footer-col .medias-socias a:hover {
      color: #415aca;
      background-color: #dab785;
    }

    .footer-col .form-sub input {
      width: 100%;
      padding: 10px;
      font-size: 15px;
      outline: none;
      border: 1px solid #dab785;
      color: #dab785;
      background-color: #06142e;
    }

    .footer-col .form-sub input::placeholder {
      color: #dab785;
    }

    .footer-col .form-sub button {
      width: 100%;
      margin-top: 10px;
      padding: 10px;
      font-size: 17px;
      outline: none;
      border: none;
      cursor: pointer;
      color: #415aca;
      border-radius: 3px;
      font-weight: bold;
      background-color: #dab785;
    }

    /* Responsivo */
    @media (max-width: 800px) {
      .footer-col {
        width: 50%;
        margin-bottom: 30px;
      }
    }

    @media (max-width:600px) {
      .footer-col {
        width: 100%;
      }
    }

    /* img zoom */
    .img-container {
      width: max-content;
      height: max-content;
      overflow: hidden;
      border: 2px solid #00000000;
    }

    .img-container img {
      width: 100%;
      height: 100%;
      -webkit-transition: -webkit-transform .5s ease;
      transition: transform .5s ease;
    }

    .img-container:hover img {
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
    }
