    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    header {
      position: relative;
      height: 597px;
      background-image: url(../img/hero-img-png.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 76%;
      color: #f5d7db;
      display: flex;
      flex-direction: column;
      align-items: left;
    }


    h1 {
      font-family: Verdana, Geneva, sans-serif;
      text-align: left;
      font-size: 65px;
      margin-left: 3vw;
      margin-top: 10vw;
    }

    /* ##################### HEADER NAVEGAÇÃO ######################### */

    ul {
      margin: 0;
      padding: 0;
      padding-top: 20px;

    }

    li {
      list-style: none;
      margin: 10px;
      display: inline;
    }

    li a {
      padding: 5px 10px;
      margin: 0;
      border: 0px solid rgba(255, 0, 0, 0);
      background: rgba(153, 0, 51, 0);
      text-decoration: none;
      color: #f5d7db;
    }


    .bar-background {
      background-color: rgba(27, 34, 88, 0.715);
      padding-bottom: 70px;
      height: 50px;
      right: 0px;
      width: 100%;

    }

    .nav-bar {
      margin-left: 2vw;
      text-align: left;
      align-items: left;
    }

    .nav-links {
      margin-left: 2vw;
      text-align: left;
      align-items: left;
      margin-top: 0%;
      display: inline-block;
    }

    .links-active,
    .links-deactive {
      font-size: 23px;
      top: 100px;
      font-family: Verdana, Geneva, sans-serif;
      margin-left: 2vw;
      text-align: left;
      align-items: left;
    }

    .links-deactive {
      text-decoration: underline;
    }

    .nav-btn {
      text-align: left;
      display: inline-block;
      position: relative;
    }

    #themebtn {
      background-color: #121a5310;
      color: #F0F3FA;
      font-size: large;
      border-color: #D5DEEF;
      display: inline-block;
      color: #D5DEEF;
      text-decoration: none;
    }

    #themebtn {
      background-color: #121a5310;
      color: #dab785;
      font-size: large;
      border-color: #f5d7db;
      display: inline-block;
      color: #f5d7db;
      /* text-decoration: none; */
    }



    /* ####################################### CLEARFIX ################################# */

    .clearfix {
      background-color: #f4f1de;
      padding-left: 30px;
      margin-top: -2.8em;
      padding-top: 100px;
      padding-bottom: 100px;
      width: 100%;
      padding-right: 20vh;
      /* height: 700px; */
      display: flex;
      flex-direction: column;
      align-items: left;
      display: inline-block;
      justify-content: center;
    }

    /* .municipio-img {
      margin-left: 90px;
    } */

    #imagem {
      max-width: 400px;
      width: 400px;
      height: auto;
      display: inline-block;
      max-width: 1000px;
    }

    .city-info {
      margin-bottom: auto;
      margin-left: 100px;
      margin-right: 400px;
      font-size: 40px;
      font-size: 4vh;
      color: #06142e;
      display: inline-block;
      display: flex;
    }


    /* ############################## FOTOS LINKS ############################# */
    .content {
      max-width: 2400px;
      padding: 0 4%;
      background-color: #1b2258;
      height: 700px;
      padding: 80px;
      display: flex;
      flex-direction: column;
      align-items: center;
      display: flex;
    }

    .imagem-content {
      max-width: 310px;
      max-height: 310px;
      width: auto;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;

    }

    .p,
    #p {
      color: #f5d7db;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
    }

    #p {
      font-size: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;

    }

    /* ################################## FOOTER ################################## */
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

    footer {
      background-color: #06142e;
      padding: 50px 0;
      color: #dab785;
    }

    .container-footer {
      max-width: 1400px;
      padding: 0 4%;
      margin: auto;
    }

    .row-footer {
      display: flex;
      flex-wrap: wrap;
    }

    .footer-col {
      width: 25%;
      padding: 0 15px;
    }

    .footer-col h4 {
      font-size: 22px;
      color: #dab785;
      margin-bottom: 20px;
      font-weight: 500;
      position: relative;
      text-transform: uppercase;
    }

    .footer-col ul {
      list-style: none;
    }

    .footer-col ul li {
      margin: 10px 0;
    }

    .footer-col ul li a {
      font-size: 16px;
      text-transform: capitalize;
      color: #dab785;
      text-decoration: none;
      font-weight: 300;
      display: block;
      transition: all 0.3s ease;
    }

    .footer-col ul li a:hover {
      color: #dab785;
      padding-left: 10px;
    }

    .footer-col .medias-socias {
      margin-top: 30px;
    }

    .footer-col .medias-socias a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      width: 40px;
      margin: 0 10px 10px 0;
      text-decoration: none;
      border-radius: 50%;
      color: #dab785;
      border: 1px solid #dab785;
      transition: all 0.5s ease;
    }

    .footer-col .medias-socias a i {
      font-size: 20px;
    }

    .footer-col .medias-socias a:hover {
      color: #415aca;
      background-color: #dab785;
    }

    .footer-col .form-sub input {
      width: 100%;
      padding: 10px;
      font-size: 15px;
      outline: none;
      border: 1px solid #dab785;
      color: #dab785;
      background-color: #06142e;
    }

    .footer-col .form-sub input::placeholder {
      color: #dab785;
    }

    .footer-col .form-sub button {
      width: 100%;
      margin-top: 10px;
      padding: 10px;
      font-size: 17px;
      outline: none;
      border: none;
      cursor: pointer;
      color: #415aca;
      border-radius: 3px;
      font-weight: bold;
      background-color: #dab785;
    }

    /* Responsivo */
    @media (max-width: 800px) {
      .footer-col {
        width: 50%;
        margin-bottom: 30px;
      }
    }

    @media (max-width:600px) {
      .footer-col {
        width: 100%;
      }
    }

    /* img zoom */
    #img-container {
      width: max-content;
      height: max-content;
      overflow: hidden;
      border: 2px solid #00000000;
    }

    #img-container img {
      width: 100%;
      height: 100%;
      -webkit-transition: -webkit-transform .5s ease;
      transition: transform .5s ease;
    }

    #img-container:hover img {
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
    }

    /* ############################# RESPONSIVE ############################## */

    @media screen and (max-width: 768px) {


      /* ######################### CLEARFIX ITEMS ############################ */
      .clearfix {
        height: fit-content;
        padding-bottom: 7vh;
        padding-top: 7vh;
        flex-wrap: wrap;
        padding-right: 0%;
        padding-left: 0%;
        /* align-items: center;
        justify-content: center; */
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }

      .city-info {
        font-size: 13px;
        font-size: 3vh;
        margin-right: 5vh;
        margin-left: 5vh;
        margin-top: 5vh;
        right: 0;
      }

      /* 
      .form {
        margin-left: 40%;
        margin-right: 40%;
        padding-right: 0px;
        background-color: #164c3c;
        background-size: contain;
        align-items: center;
        justify-content: center;

      } */


      /* ############################ CONTENT ############################## */
      .col,
      .img-container {
        display: flex;
        /* max-width: 1000px; */
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: flex-start;
        width: 230px;
      }

      .col img {
        max-width: 200px;
        max-height: 200px;
        width: auto;
        height: auto;
      }

      #imagem {
        height: 550px;
        height: 55vh;
        width: 420px;
        width: 40vh;
        margin-right: 5vh;
        margin-left: 23%;
      }



      .col #p {
        font-size: 4vh;
      }

      .col {
        margin-right: 100%;
        margin-left: 26%;
      }

      .content {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: flex-start;
        height: fit-content;
      }
    }

    @media screen and (min-width: 768px) {
      @media screen and (max-width: 1000px) {

        /* ######################### CLEARFIX ######################### */
        .clearfix {
          height: fit-content;
          padding-bottom: 7vh;
          padding-top: 7vh;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: space-around;
          /* flex-wrap: wrap; */
          /* align-items: center;
        justify-content: center; */
          flex-direction: row;
          padding-right: 0%;
        }

        #imagem {
          height: 550px;
          height: 55vh;
          width: 420px;
          width: 40vh;
          margin-right: 34%;
          margin-left: 23%;
        }

        .city-info {
          margin-top: 400px;
          text-align: justify;
          text-justify: auto;
          margin-bottom: auto;
          margin-left: 300px;
          margin-right: 4px;
          color: #06142e;
          /* display: inline-block; */
          /* display: flex; */
          font-size: 200%;
          margin-right: 5vh;
          margin-left: 5vh;
          margin-top: 60vh;
          word-break: break-all;
        }
      }
    }

    /* ######################### NAV BAR RESPONSIVE #################### */
    @media screen and (min-width: 0px) {
      @media screen and (max-width: 900px) {
        .bar-background {
          background-color: rgba(27, 34, 88, 0.715);
          padding-bottom: 70px;
          width: 107.8%;
          height: 60vh;
          background-color: #1b2258;
          height: 200px;
          padding: 80px;
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-left: -12px;
          right: -9cm;

        }

        h1 {
          font-family: Verdana, Geneva, sans-serif;
          text-align: left;
          /* position: relative; */
          font-size: 9vw;
          margin-left: 5vw;
          top: 4vw;
        }

        .nav-bar {
          /* right: 3px; */
          text-align: center;
        }

        .nav-links {
          /* right: 3px; */
          text-align: center;
          margin-top: 0%;
          display: contents;
        }

        .links-active,
        .links-deactive {
          font-size: 3vw;
          top: 10vw;
          font-family: Verdana, Geneva, sans-serif;
          background-color: #121a5310;
          color: #F0F3FA;
          /* font-size: large; */
          border-color: #D5DEEF;
          color: #D5DEEF;
          text-decoration: none;

        }

        .links-deactive {
          text-decoration: underline;
        }

        .nav-btn {
          text-align: left;
          display: inline-block;
        }

        #themebtn {
          background-color: #121a5310;
          color: #F0F3FA;
          font-size: large;
          border-color: #D5DEEF;
          display: inline-block;
          color: #D5DEEF;
          text-decoration: none;
        }
      }
    }

    @media screen and (min-width: 900px) {

      .bar-background,
      .nav-bar {
        position: fixed;
      }
    }

    /* ########################## CONTENT RESPONSIVE ########################### */

    @media screen and (max-width: 1000px) {

      .col,
      .img-container,
      #img-container {
        display: flex;
        /* max-width: 1000px; */
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: flex-start;
        width: 380px;
      }

      #img-container {
        height: 360px;
      }

      .col img {
        max-width: 350px;
        max-height: 350px;
        width: auto;
        height: auto;
      }

      .col #p {
        font-size: 7vh;
      }

      .col {
        margin-right: 100%;
        margin-left: 4vw;
      }

      .content {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: flex-start;
        height: fit-content;
      }
    }

    @media screen and (min-width: 1000px) {
      @media screen and (max-width: 1200px) {

        .col img {
          max-width: 250px;
          max-height: 250px;
          width: auto;
          height: auto;
        }

        .col {
          text-align: center;
        }

        .col #p {
          font-size: 4vh;
          margin-left: 30%;
          margin-right: 20%;
        }

        .col .p {
          margin-left: 30%;
          font-size: 13px;
          margin-right: 20%;
        }


        #col1,
        #col3 {
          margin-left: 0%;
        }

        #col2,
        #col4 {
          margin-right: 0%;
          margin-left: 27%;
        }

        .content {
          flex-direction: row;
          justify-content: space-around;
          flex-wrap: wrap;
          align-items: flex-start;
          height: fit-content;
        }
      }
    }

    @media screen and (min-width: 1200px) {
      @media screen and (max-width: 1430px) {


        .col img {
          max-width: 250px;
          max-height: 250px;
          width: auto;
          height: auto;
        }

        .col #p {
          font-size: 5vh;
        }

        .col .p {
          font-size: 13px;
        }

        .content {
          flex-direction: row;
          justify-content: space-around;
          flex-wrap: wrap;
          align-items: flex-start;
          height: fit-content;
        }
      }
    }
